.search-container {
  position: fixed;
  top: 260px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #333446;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  max-width: 230px;
  color: #EAEFEF;
  z-index: 1000;
  pointer-events: auto;
}

.search-container input {
  margin-bottom: 8px;
  padding: 6px 10px;
  font-size: 14px;
  width: 200px;
}

.search-container button {
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 5px;
  background: #EAEFEF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;

}

.status-message {
  font-size: 0.9em;
  color: red;
  margin-top: 4px;
  align-self: flex-start;
}

.results-list {
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: #B8CFCE;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 4px;
  padding: 6px 8px;
  align-self: flex-start;
  z-index: 1000;
  color: #333446;
}

.results-list p {
  margin: 0 0 8px 0;
  font-weight: bold;
  font-size: 14px;
  color: #333446;
}

.results-list ul {
  margin: 0; padding: 0; list-style: none;
}

.results-list li {
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 3px;
}

.results-list li:hover {
  background-color: #333446;
  color: #EAEFEF;
}

.results-list li.selected {
  background-color: goldenrod;
  font-weight: bold;
  color: black;
}

.filter-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
}

.filter-group label {
  font-weight: bold;
  margin-right: 5px;
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.filter-group button {
  padding: 4px 8px;
  border-radius: 5px;
  background: #EAEFEF;
  color: #333446;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.filter-group button.active {
  background-color: #7F8CAA;
  color: #EAEFEF;
}
